{% extends "KrakenAdminBundle::layout.html.twig" %}

{% block more_css %}


{% endblock %}
{% block more_js %}

{% endblock %}
{% block content %}
    <div class="container">
        <div class="row-fluid">
            <div class="span12 media">


                <br/>
                <div class="row-fluid">

                    <fieldset>
                        <legend>{% trans %}admin.condition{% endtrans %}</legend>
                    </fieldset>
                    <br/>


                    <br/>
                    <form action="{{ path('kraken_admin_scenario_tasks_conditions_add_request',{'id':task.id}) }}" method="POST">

                        <select name="type">
                            {% for id,opt in datas %}
                                <option value="{{ id }}">{{ opt }}</option>
                            {% endfor %}
                        </select>
                        <input type="submit">
                            <i class="icon-plus"></i> {% trans %}admin.condition.add{% endtrans %}
                        </input>

                    </form>
                    <br/>
                    {% if task.conditions|length > 0%}
                    <table id="filestable" class="table table-striped tablesorter" >
                        <thead>
                        <tr>
                            <th class="header">{% trans %}admin.condition.table.data{% endtrans %}</th>
                            <th class="header">{% trans %}admin.condition.table.position.type{% endtrans %}</th>
                            <th class="header">{% trans %}admin.condition.table.position.regex{% endtrans %}</th>
                            <th class="header">{% trans %}admin.condition.table.sign{% endtrans %}</th>
                            <th class="header">{% trans %}admin.condition.table.actions{% endtrans %}</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for row in task.conditions %}
                            <tr class="tr{{ row.id }}">
                                <td>
                                    {{ row.data|classname|trans() }}
                                </td>
                                <td>
                                    {{ row.positionType }}
                                </td>
                                <td>
                                    {{ row.positionRegex }}
                                </td>
                                <td>
                                    {{ row.sign }}
                                </td>
                                <td>
                                    <a href="{{ path('kraken_admin_scenario_tasks_conditions_edit', {'id':row.id} ) }}" title="{% trans %}admin.condition.table.actions.edit{% endtrans %}"><i class="icon-edit"></i></a>

                                    <a href="{{ path('kraken_admin_scenario_tasks_conditions_delete', {'id':row.id} ) }}" title="{% trans %}admin.condition.table.actions.delete{% endtrans %}"><i class="icon-remove"></i></a>

                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                    {% else %}
                        <br/><br/>
                        <div class="label label-important">
                            {% trans %}content.none{% endtrans %}
                        </div>
                    {% endif %}
                </div>

            </div>

        </div>
    </div>
{% endblock %}