<html>
    <head>
        <title> {{ app.session.get('page') }} | Kraken</title>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta content="{% trans %}page.description{% endtrans %}" name="description">
        <meta content="{% trans %}page.author{% endtrans %}" name="author">
        <meta name="keywords" content="{% trans %}page.keywords{% endtrans %}" >
        <link rel="shortcut icon" type="image/x-icon" href="{{ asset('bundles/kraken/img/favicon.ico') }}">
        <link rel="icon" type="image/png" href="{{ asset('bundles/kraken/img/favicon.png') }}">
        <link rel="stylesheet" href="{{ asset('css/bootstrap.css') }}">

        <link rel="stylesheet" href="{{ asset('bundles/kraken/css/docs.css') }}">
        <link rel="stylesheet" href="{{ asset('bundles/kraken/css/kraken.css') }}">

        <link rel="stylesheet" href="{{ asset('bundles/kraken/js/fancybox/source/jquery.fancybox.css?v=2.1.4') }}" type="text/css" media="screen" />

        {% block css %}
        {% endblock %}

        <script src="http://code.jquery.com/jquery-latest.js"></script>
        <script src="http://code.jquery.com/ui/1.10.1/jquery-ui.js"></script>

        <script src="{{ asset('js/bootstrap.js') }}"></script>

        <script type="text/javascript" src="{{ asset('bundles/kraken/js/fancybox/source/jquery.fancybox.pack.js?v=2.1.4')}}"></script>
        <script src="{{ asset('bundles/kraken/js/fancybox/lib/jquery.mousewheel-3.0.6.pack.js') }}"></script>

        <!-- Optionally add helpers - button, thumbnail and/or media -->
        <link rel="stylesheet" href="{{ asset('bundles/kraken/js/fancybox/source/helpers/jquery.fancybox-buttons.css?v=1.0.5')}}" type="text/css" media="screen" />
        <script type="text/javascript" src="{{ asset('bundles/kraken/js/fancybox/source/helpers/jquery.fancybox-buttons.js?v=1.0.5')}}"></script>
        <script type="text/javascript" src="{{ asset('bundles/kraken/js/fancybox/source/helpers/jquery.fancybox-media.js?v=1.0.5')}}"></script>

        <link rel="stylesheet" href="{{ asset('bundles/kraken/js/fancybox/source/helpers/jquery.fancybox-thumbs.css?v=1.0.7')}}" type="text/css" media="screen" />
        <script type="text/javascript" src="{{ asset('bundles/kraken/js/fancybox/source/helpers/jquery.fancybox-thumbs.js?v=1.0.7')}}"></script>
        <script type="text/javascript">
            $(this).ready(function() {
                $(".thumb_profile").fancybox({
                    padding : 0
                });
            });

        </script>

        {% block js %}
        {% endblock %}
    </head>
    <body>

        {% block body %}

        {% endblock %}


        <footer>
            <div class="row-fluid">
                  <div class="span9 offset2">
                      @{{ "now"|date("Y") }} Kraken {{ app_version }}
                  </div>
            </div>
        </footer>
    </body>



</html>