{% extends "KrakenAdminBundle::layout.html.twig" %}

{% block more_css %}


{% endblock %}
{% block more_js %}

{% endblock %}
{% block content %}
    <div class="container">
        <div class="row-fluid">
            <div class="span12 media">


                <br/>
                <div class="row-fluid">

                    <fieldset>
                        <legend>{% trans %}admin.scenario{% endtrans %}</legend>
                    </fieldset>
                    <br/>

                    <a href="{{ path('kraken_admin_scenario_add') }}" class="btn">
                        <i class="icon-plus"></i> {% trans %}admin.scenario.add{% endtrans %}
                    </a>
                    <br/>
                    {% if scenario %}
                    <table id="filestable" class="table table-striped tablesorter" >
                        <thead>
                        <tr>
                            <th class="header">{% trans %}admin.scenario.table.name{% endtrans %}</th>
                            <th class="header">{% trans %}admin.scenario.table.date.creation{% endtrans %}</th>
                            <th class="header">{% trans %}admin.scenario.table.date.execution{% endtrans %}</th>
                            <th class="header">{% trans %}admin.scenario.table.execution{% endtrans %}</th>
                            <th class="header">{% trans %}admin.scenario.table.active{% endtrans %}</th>
                            <th class="header">{% trans %}admin.scenario.table.actions{% endtrans %}</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for row in scenario %}
                            <tr class="tr{{ row.id }}">
                                <td>
                                    {{ row.name }}
                                </td>
                                <td>
                                    {% if row.dateCreation %}
                                    {{ row.dateCreation|date('d/m/Y H:i:s') }}
                                    {% endif %}
                                </td>
                                <td>
                                    {% if row.dateLastExecution %}
                                     {{ row.dateLastExecution|date('d/m/Y H:i:s') }}
                                    {% endif %}
                                </td>
                                <td>
                                    {{ row.execMinutes }}
                                </td>
                                <td>
                                    {% if row.active %}
                                        {% trans %}yes{% endtrans %}
                                    {% else %}
                                        {% trans %}no{% endtrans %}
                                    {% endif %}
                                </td>
                                <td>
                                    <a href="{{ path('kraken_admin_scenario_edit', {'id':row.id} ) }}" title="{% trans %}admin.scenario.table.actions.edit{% endtrans %}"><i class="icon-edit"></i></a>

                                    <a href="{{ path('kraken_admin_scenario_delete', {'id':row.id} ) }}" title="{% trans %}admin.scenario.table.actions.delete{% endtrans %}"><i class="icon-remove"></i></a>
                                    {% if row.active %}
                                        <a href="{{ path('kraken_admin_scenario_desactivate', {'id':row.id} ) }}" title="{% trans %}admin.scenario.table.actions.desactivate{% endtrans %}"><i class="icon-eye-close"></i></a>
                                    {% else %}
                                        <a href="{{ path('kraken_admin_scenario_activate', {'id':row.id} ) }}" title="{% trans %}admin.scenario.table.actions.activate{% endtrans %}"><i class="icon-eye-open"></i></a>
                                    {% endif %}
                                    <a href="{{ path('kraken_admin_scenario_tasks',{'id':row.id}) }}" title="{% trans %}admin.scenario.table.actions.tasks{% endtrans %}"><i class="icon-th-list"></i></a>
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                    {% else %}
                        <br/><br/>
                        <div class="label label-important">
                            {% trans %}content.none{% endtrans %}
                        </div>
                    {% endif %}
                </div>

            </div>

        </div>
    </div>
{% endblock %}