{% extends "KrakenAdminBundle::layout.html.twig" %}


{% block more_css %}
    <style type="text/css">
        #AdminTaskCrawlWeb_tags{
            margin-left:50px;
        }
        div[id$=_type] > label, div[id$=_type] > input{
            float: left;
        }
        #AdminTaskCrawlWeb_tags #delete-tag
        {
            float:right;
        }
        div[id^=AdminTaskCrawlWeb_tags_]
        {
            border-top:1px solid grey;
        }
        div[id$=_type]
        {
            border:none;
        }
        .form-task > label {
            clear:both;
        }
    </style>
{% endblock %}

{% block more_js %}
    <script type="text/javascript">

        CKEDITOR.editorConfig = function( config ) {
            config.language = 'fr';
            config.uiColor = '#AADC6E';
        };
        window.onload = function() {
            CKEDITOR.replace( 'AdminScenarioModel[description]' );
        }

        $(document).ready(function() {

            // get attr « data-prototype »
            var $container = $('div#AdminTaskCrawlWeb_tags');

                // Add a link to add a new tag
                var $linkAdd = $('<a href="#" id="add_tag"><i class="icon-plus"></i>Add a tag</a>');
                $container.prepend($linkAdd);

                $linkAdd.click(function(e) {
                    addTag($container);
                    e.preventDefault(); //avoid # in url
                    return false;
                });

                var index = $container.find(':input').length;

                if (index == 0) {
                    addTag($container);
                } else {
                    $container.children('div').each(function() {
                        addTag($(this));
                    });
                }

                function addTag($container) {
                    var $prototype = $($container.attr('data-prototype').replace(/__name__label__/g, 'Tag ' + (index+1))
                            .replace(/__name__/g, index));

                    addLinkDelete($prototype);
                    $container.append($prototype);
                    index++;
                }

                function addLinkDelete($prototype) {
                    $linkDelete = $('<br/><a href="#" id="delete-tag" class="btn btn-danger"><i class="icon-remove"></i></a>');

                    $prototype.prepend($linkDelete);
                    $prototype.append($("<br/><br/>"));
                    $linkDelete.click(function(e) {
                        $prototype.remove();
                        e.preventDefault();
                        return false;
                    });
                }
        });
    </script>
{% endblock %}

{% block content %}

    <div class="container">
        <div class="row">
            <div class="span12">
                <h3 class="bloc_header">
                    {% trans %}admin.task.edit.title{% endtrans %}
                </h3>
                <a href="{{ path('kraken_admin_scenario_tasks',{'id':entity.scenario.id}) }}">{% trans %}back{% endtrans %}</a>
                <br/><br/>
                <form class="form-task" action="{{ path('kraken_admin_scenario_tasks_edit',{'id':entity.id, "type":type}) }}" method="post" {{ form_enctype(form) }}>
                    {{ form_widget(form) }}
                    <!--DATA IN -->
                    <label>{% trans %}admin.task.data.in{% endtrans %}</label>

                    <select name="in">
                        {% for id,row in array_in %}
                            <option value="{{ row }}"
                                 {% if entity.chosenInputData==attribute(general_array, row) %}
                                    selected="selected"
                                 {% endif %}
                            >{{ attribute(general_array, row)|trans() }}</option>

                        {% endfor %}
                    </select>
                    <br/> <br/>

                    <!-- DATA OUT -->
                    <label>{% trans %}admin.task.data.out{% endtrans %}</label>

                    <select name="out">
                        {% for id,row in array_out %}
                            <option value="{{ row }}"
                                {% if entity.chosenOutputData==attribute(general_array, row) %}
                                    selected="selected"
                                {% endif %}
                            >{{ attribute(general_array, row)|trans() }}</option>
                        {% endfor %}
                    </select>


                    <br/><br/>
                    <input type="submit" />
                </form>
            </div>
        </div>
    </div>

{% endblock %}
