{% extends "KrakenAdminBundle::layout.html.twig" %}

{% block more_css %}


{% endblock %}
{% block more_js %}

{% endblock %}
{% block content %}
    <div class="container">
        <div class="row-fluid">
            <div class="span12 media">


                <br/>
                <div class="row-fluid">

                    <fieldset>
                        <legend>{% trans %}admin.task{% endtrans %}</legend>
                    </fieldset>
                    <br/>
                    <a href="{{ path('kraken_admin_scenario') }}" >
                        <i class="icon-arrow-left"></i> {% trans %}back{% endtrans %}
                    </a>
                    <br/>
                    <br/>

                    <a href="{{ path('kraken_admin_scenario_tasks_add_request',{'id':scenario.id}) }}" class="btn">
                        <i class="icon-plus"></i> {% trans %}admin.task.add{% endtrans %}
                    </a>
                    <br/>
                    {% if scenario.tasks %}
                    <table id="filestable" class="table table-striped tablesorter" >
                        <thead>
                        <tr>
                            <th class="header">{% trans %}admin.task.table.name{% endtrans %}</th>
                            <th class="header">{% trans %}admin.task.table.type{% endtrans %}</th>
                            <th class="header">{% trans %}admin.task.table.input_data{% endtrans %}</th>
                            <th class="header">{% trans %}admin.task.table.output_data{% endtrans %}</th>
                            <th class="header">{% trans %}admin.task.table.actions{% endtrans %}</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for index,row in scenario.tasks %}
                            <tr class="tr{{ row.id }}">
                                <td>
                                    {{ row.name }}
                                </td>
                                <td>
                                    {{ row|classname|trans() }}
                                </td>
                                <td>
                                    {{ row.chosenInputData|trans() }}
                                </td>
                                <td>
                                    {{ row.chosenOutputData|trans() }}
                                </td>
                                <td>
                                    <a href="{{ path('kraken_admin_scenario_tasks_edit', {'id':row.id,'type':row|classname} ) }}" title="{% trans %}admin.task.table.actions.edit{% endtrans %}"><i class="icon-edit"></i></a>

                                    {% if row|classname == "TaskSenderSocial" and row.login is empty %}
                                        <a href="{{ path('kraken_admin_scenario_tasks_social',{"id":row.id}) }}" title="{% trans %}admin.task.table.actions.linksocial{% endtrans %}"><i class="icon-globe"></i></a>
                                    {% endif %}

                                    <a href="{{ path('kraken_admin_scenario_tasks_delete', {'id':row.id} ) }}" title="{% trans %}admin.task.table.actions.delete{% endtrans %}"><i class="icon-remove"></i></a>

                                    {% if index > 0 %}
                                        <a href="{{ path('kraken_admin_scenario_tasks_move', {'id':row.id,"position":0} ) }}" title="{% trans %}admin.task.table.actions.move.up{% endtrans %}"><i class="icon-arrow-up"></i></a>
                                    {% endif %}

                                    {% if index < scenario.tasks.count - 1 %}
                                        <a href="{{ path('kraken_admin_scenario_tasks_move', {'id':row.id,"position":1} ) }}" title="{% trans %}admin.task.table.actions.move.down{% endtrans %}"><i class="icon-arrow-down"></i></a>
                                    {% endif %}

                                    <a href="{{ path('kraken_admin_scenario_tasks_execute',{'id':row.id}) }}" title="{% trans %}admin.task.table.actions.execute{% endtrans %}"><i class="icon-check"></i></a>

                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                    {% else %}
                        <br/><br/>
                        <div class="label label-important">
                            {% trans %}content.none{% endtrans %}
                        </div>
                    {% endif %}
                </div>

            </div>

        </div>
    </div>
{% endblock %}